.address__heading {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #1B2D37;
  position: relative;
}

.address__list {
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.address__link {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #1b2d3780;

  &:hover {
    color: #00b2ff;
  }
}

@media screen and (max-width: 767px) {
  .address {
    padding-top: 0;
    position: relative;
  }

  .address__heading {
    padding-top: 28px;
    padding-bottom: 29px;
    background-image: url("../img/footer/plus.png");
    background-repeat: no-repeat;
    background-position: right center;
  }

  .address__list {
    margin: 0;
    margin-bottom: 28px;
  }

  .address__burger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .address__checkbox {
    &:not(:checked) ~ .address__list {
      display: none;
    }

    &:checked + .address__heading {
      background-image: url("../img/footer/minus.png");
    }
  }
}