.contacts {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: baseline;
  margin-left: auto;
  font-family: "PT Mono";
}

.contacts__email,
.contacts__phone {
  color: #ffffff;
  text-decoration: none;
  transition: .3s;

  &:hover {
    transform: scale(0.9);
  }
}

.contacts__email {
  padding-left: 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 14px;
    background-image: url("../img/header/envelope.png");
    left: 0;
    top: 2px;
  }
}

.contacts__phone {
  padding-left: 32px;
  position: relative;
  margin-left: 85px;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/header/phone-call.png");
    left: 0;
  }
}

.contacts__button {
  width: 180px;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 0px 12px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-left: 40px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 1023px) {
  .contacts {
    font-size: 0;
    color: transparent;
  }

  .contacts__email {
    &::before {
      width: 26px;
      height: 19px;
      background-image: url("../img/header/envelope-tablet.png");
    }
  }

  .contacts__phone {
    margin-left: 33px;

    &::before {
      width: 25px;
      height: 24px;
      background-image: url("../img/header/phone-call-tablet.png");
    }
  }

  .contacts__button {
    display: none;
  }
}