.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 25px;
}

.header__content {
  display: flex;
  flex-direction: row;
  max-width: 1410px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 10px 0;
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__content {
    margin-top: 15px;
  }
}