.logo {
  display: flex;
  flex-direction: row;
}

.logo__img {
  width: 52px;
  height: 52px;
  margin-right: 15px;
}

.logo__text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.logo__big-text {
  font-size: 25px;
  font-weight: 600;
}

.logo__small-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #788891;
}

@media screen and (max-width: 767px) {
  .logo__text {
    display: none;
  }
}