.start {
  height: 880px;
  background-color: #1B2D37;
  background-image: url("../img/start/background.png");
  padding: 0 25px;
  padding-top: 315px;
}

.start__content {
  width: 1410px;
  margin: 0 auto;
  position: relative;
}

.start__heading {
  font-size: 80px;
  font-weight: 600;
  line-height: 94px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  letter-spacing: 6px;
  position: relative;
  z-index: 3;
}

.start__text {
  width: 650px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: #ffffff;
  margin: 0;
  margin-left: 100px;
  margin-bottom: 40px;
  padding: 0;
  position: relative;
  z-index: 3;

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #ffffff;
    left: -100px;
    top: 50%;
  }
}

.start__button {
  display: block;
  text-decoration: none;
  margin-left: 100px;
  color: #ffffff;
  background-color: #00B2FF;
  border: none;
  width: 407px;
  padding: 18px 5px;
  position: relative;
  z-index: 3;

  &:hover {
    background-color: #ffffff;
    color: #00B2FF;
  }
}

.start__button-text {
  text-decoration: none;

  &--mobile {
    display: none;
  }
}

.start__scheme {
  width: 705px;
  height: 515px;
  position: absolute;
  top: -65px;
  right: -100px;
  z-index: 2;
}

.start__triangles {
  width: 611px;
  height: 457px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.start__scroll {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.5;
  position: absolute;
  transform: rotate(-90deg);
  left: -35px;
  bottom: -150px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1023px) {
  .start {
    height: 685px;
    padding: 0;
    padding-top: 190px;
  }

  .start__scroll {
    display: none;
  }

  .start__heading {
    font-size: 60px;
    line-height: 70px;
    margin-left: 80px;
    width: 500px;
  }

  .start__text {
    width: 450px;
    font-size: 18px;
    line-height: 28px;
    margin-left: 80px;
    padding-left: 60px;

    &::before {
      width: 33px;
      left: 0px;
    }
  }

  .start__button {
    margin-left: 140px;
    width: 379px;
  }

  .start__scheme {
    width: 465px;
    height: 340px;
    top: -80px;
    right: 430px;
  }

  .start__triangles {
    width: 480px;
    height: 390px;
    top: -121px;
    right: 470px;
  }
}

@media screen and (max-width: 767px) {
  .start {
    height: 647px;
    padding-top: 285px;
  }

  .start__content {
    width: fit-content;
  }

  .start__heading {
    font-size: 40px;
    line-height: 47px;
    margin-left: 15px;
    width: 275px;
  }

  .start__text {
    width: 300px;
    font-size: 16px;
    line-height: 25px;
    margin-left: 15px;
    padding-left: 65px;

    &::before {
      left: 0px;
    }
  }

  .start__button {
    margin-left: 15px;
    width: 287px;
  }

  .start__button-text {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: inline-block;
    }
  }

  .start__scheme {
    width: 301px;
    height: 220px;
    top: -193px;
    right: auto;
    left: 49px;
  }

  .start__triangles {
    width: 470px;
    height: 370px;
    top: -215px;
    right: auto;
    left: 180px;
  }
}
